body {
    background: blue;
    margin: 1rem;
    padding: 1rem;
    max-width: 500px;
    margin: 2rem auto;
    font-family: fantasy;
}

img {
    max-width: 400px;
    border-color: black dashed;
}

h1 {
    font-size: larger;
    padding-right: 130px;
    padding-left: 130px;
}

h2 {
    font-size: medium;
    padding-left: 75px;
    padding-right: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}