body {
    background: blue;
    margin: 1rem;
    padding: 1rem;
    max-width: 500px;
    margin: 2rem auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    max-width: 400px;
    border-color: black dashed;
}